*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Neue;
    background-color: #f1f0f0;
}

@font-face {
    font-family: Founders;
    src: url(../../public/Fonts/FoundersGrotesk-Semibold.ttf);
}

@font-face {
    font-family: Neue;
    src: url(../../public/Fonts/NeueMontreal-Regular.ttf);
}



.changef{
    font-family: Founders;
}

.text{
    font-family: Founders;
}

.eyy h1{
    font-family: Founders;
}

.logo {
    font-size: 30px;
    color: #000;
    /* color: #fff; */
    font-family: 'Satisfy', cursive;
    cursor: pointer;
}
